<main class="main">
  <div class="logos">
    <a href="https://vitejs.dev" target="_blank" rel="noopener">
      <img src="https://vitejs.dev/logo.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vitejs.dev" target="_blank" rel="noopener">
      <img src="https://v7.angular.cn/assets/images/logos/angular/angular.svg" class="logo" alt="Vite logo" />
    </a>
  </div>

  <h1>Vite + Angular</h1>

  <div class="card">
    <ui-button variant="secondary" size="md">Web Component</ui-button>
    <p>
      Edit <code>src/app/app.component.html</code> and save to test HMR
    </p>
  </div>

  <p class="read-the-docs">
    Click on the Vite and Angular logos to learn more
  </p>
</main>
