@import "../../../../tokens/dist/css/variables.light.css";

:host {
  display: inline-block;
  --button-bg: var(--color-bg-primary);
  --button-fg: var(--color-content-on-primary);
}

button {
  background: var(--button-bg);
  color: var(--button-fg);
  padding: var(--space-inset-md);
  border-radius: var(--radii-md);

  all: unset;
  cursor: pointer;

  font-weight: 600;
  font-family: inherit;
  transition: background 0.2s ease;
}

button.default {
  background: #e0e0e0;
  color: #000;
}

button.primary {
  background: #005eff;
  color: #fff;
}

button.secondary {
  background: red;
  color: #fff;
}

button.sm {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

button.md {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button.lg {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
