.storybook-page {
  width: 100%;
  max-width: 1200px;
  
  color: #333;
  padding: 48px 20px;
  margin: 0 auto;
}

.fnt-subtitle{
  background-color: #ccc;
  padding: 24px;
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-size: 32px;
  line-height: 150%;
}

.regular {
  font-weight: normal;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}

.fnt-codeBox{
  background-color: #f1f1f1;
  padding: 24px;
  font-family: monospace;
}

.fnt-showroom {
  font-family: 'Roboto';
  padding: 24px;
}
